.navbar
{
    width: 90%;
    height: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.n-menus ul li
{
    display: inline-block;
    margin-right: 2em;

}


.n-searchicon
{
    position: absolute;
    right: 19%;
    top:3%;
}
.n-signup
{
    background-color: black;
    width: 6em;
    height: 3em;
    border-radius: 20px;
    color: white;
}
      
.darkmode-n-signup
{background-color: white;
    color: black;
    width: 6em;
    height: 3em;
    border-radius: 20px;
  
}
.Link
{
    text-decoration: none;
    
}
.navbar-profileurl
{
    width: 3em;
    border-radius: 50%;
}
.n-profilebar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 20em;
}
.n-profilebar > img
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
@media only screen and (max-width: 850px) {
    
    
}
@media only screen and (max-width: 500px) {

   .n-logo > img
   {
    width: 8em;
   }
   .n-profilebar
   {
    width: 10em;
    
   }
}