.postes
{
    margin-top: 10%;
    margin-left: 10%;
}
.postes-grid
{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 90%;
  gap: 20px;
}
.postcard
{   
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 10%;
    transition: ease;
    
    transition: all .5s ease-in-out;
}
.darkmode-postcard
{
    color: white;
    background-color: #181A2A;

}
.postcard:hover
{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: translate(0, -.4rem);
}
.postcard-img > img
{
    width: 100%;
    height: 14em;
}
.post-about
{
    display: flex;
    flex-direction: auto;
    align-items: center;
    gap: 10px;
}
.post-text > p 
{
    font-weight: 600;
}
.darkmode-post-text > p 
{
    color: white;
}
.post-authorname
{
    font-weight: 300;
    
}
.post-date
{
    font-weight: 300;
}
.darkmode-post-authorname
{
color: white
}
.darkmode-post-date
{
    color: white
}
.post-category
{
    color: #4B6BFB;
}
.Link
{
    text-decoration: none;
    color: black;
}
.post-authorimg > img
{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.p-btn
{
    
    display: flex;
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 2%;
}
.delete-post-btn
{
    height: 3em;
    width: 8em;
  background-color: black;
  color: white;
  border: none;
}
.edit-post-btn
{
    margin-left: 10%;
    height: 3em;
    width: 8em;
    background-color: black;
    color: white;
    border: none;
}
@media only screen and (max-width: 850px) {

    .postes-grid
    {
        grid-template-columns: 50%  50%;
    }
}
@media only screen and (max-width: 500px) {
.postcard
{
 max-height: 30em;
 width: 95%;
overflow: scroll;
 border: 1px solid gainsboro;
 border-radius: 10px;
 margin-bottom: 10px;
}
    .postes-grid
    {
        grid-template-columns: 100%;
        margin-left: -5%;
        
    }
    .postcard-img > img
{
    width: 100%;

    max-height: 15em;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;

}
.postes-grid
{
    width: 100%;

    
}
.post-category
{
    margin-left: 10%;
}
.post-text{
    margin-left: 10%;
}



}